@charset "utf-8";
@fontface { 
	font-family: 'Muli';
	src: url('Muli-Regular.ttf');
}
@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../fonts/glyphicons-halflings-regular.eot');
}
/* CSS Document */
body{
/*	font-family:'Muli' !important; */
	font-family:'Arial' !important;
	background-color: whitesmoke;
	margin:0!important;
}
.align-center{
	text-align:center;	
}
.align-right{
	text-align:right;	
}
.align-left{
	text-align:left;	
}
.left{
	float:left;
}
ul{
	padding:0 !important;
	margin:0 !important;
}
h1,h2,h3{
	font-size:13pt !important;
}
label{
	font-weight:normal !important;
}

/*view*/
.wrapper-carousel{
	background-color:black;
	width:80% !important;
	margin:auto;
}
#myCarousel{
	width:50% !important;
	margin:auto;
}
div.item div.carousel-caption
{
	background-color: rgba(0, 0, 0, 0.59) !important;
}
/*index*/
.index-block-message{
	padding: 3%;
    font-size: 15pt;
    box-shadow:0px -1px 8px grey;
    background-color:white;
}
.index-block-title{
    background-color: #bb525b;;
    color: white;
    padding: 2%;
}
.index-block-actions-title{
	padding: 2%;
    margin-top:2%;
}
.index-block-actions{
	background-color:white;
	margin-top:1%;
	padding:0 !important;
	margin-bottom:1%;
}
.index-block-actions-item{
	padding:3%;
	background-color: #f2faff;
    border-radius: 5px;
}
.index-block{
	margin-left:0 !important;
	margin-right:0 !important;
	background-color: #f5efef;
}
/*add photo*/
.ajouter_photo{
	padding: 1%;
    margin-top: 1%;
    border: 6px solid #ab1643;
    transition:background 2s;
    transition:border 2s;
}
.ajouter_photo input[type="submit"]
{
    padding: 3%;
    margin: 3%;
}
.ajouter_photo:hover{
    background-color: rgba(236, 235, 235, 0.29);
	border: 6px solid grey;
}
/*Categories*/
.list{
	border-right:1px solid rgb(220, 223, 224);
	margin: 2%;
}
.listTh{
	cursor:pointer;
	color:blue;
}
.listTh:hover{
	text-decoration:underline;
}
.theme{ border:1px solid black;}
/*Fin catégories*/
/*liste photos non classéées*/
h1.container-titre{
	padding: 3%;
    color: #bf334e;
    text-shadow: 0px 1px 0px black;
    font-weight: bold;
}
.noclass{
	padding:1%;
}
.noclass-photo{
	height:12em;
	display:inline;
	padding:0!important;
}

.nonclasseesPhotos{
	background-color:black;
}
/*fin liste*/

/*menu*/
.menu div>ul>li{
	display:inline-block;
}
.menu-infos li{
	padding:1%;
	color:grey;
	cursor:pointer;
}
.menu-items>li{
	padding:2%;
	font-size:13pt;
}
.menu-items>li:hover, .menu-items>li:focus{
	background-color: #edf1d0;
}
.menu .dropdown{
	cursor:pointer;
}
/*navbar*/
.menu img{
	width: 50%;
}
/*navbar*/
div.titre{
	padding:4%;
	color: #ab1626;
    text-shadow: 3px 1px 5px #c6b400;
}
input.file{
	width: 0.1px!important;
	height: 0.1px!important;
	opacity: 0!important;
	overflow: hidden!important;
	position: absolute!important;
	z-index: -1!important;
}
form.uploadF{
	text-align:center;s
}
 label.nameFile {
    font-size: 11pt;
    color: white;
    background-color: #9a9990;;
    display: inline-block;
    padding:1%;
    transition:opacity 2s;
    cursor:pointer;
}
label.nameFile:hover {
   opacity:0.7;
   color: #55342f;
}

h1{
	text-align:center;
	margin:0!important;
	padding:0;
}
.container{
	    background-color: white;
}

.entete{
	background-image:url('../img/graffiti.jpg');
	 background-repeat: no-repeat;
    background-size: cover;
   /* background-attachment:fixed;*/
	height:160px;
	margin:0;
}
ul.nav{
	width:100%;
}
ul.nav>li{
	text-align:center;
}
nav{
	margin:0!important;
	background-color:white!important;
}
.photos-block{
	background-color: white;
    padding: 0 !important;
}
.photo{
    background-repeat: no-repeat;
    background-size: cover;
    width: 182px;
    height: 182px;
    border: 2px solid black;
}
.photo_cat{
	width:100%;
}
.theme{
	border:1px solid black;
}
.noclass-photo:hover, .noclass-photo:focus{
	transform:scale(1.25);
	cursor: pointer;
}

.footer{
    background-color: #371f29;
    color: white;
    height: 150px;
    text-align: center;
    padding: 4%;
}
